.buttons {
  display: flex;
}

.buttons * {
  border: none;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  cursor: pointer;
  color: white;
  flex: 1;
}

button:focus {
  outline: 0;
}

.buttons__start {
  background-color: rgb(47, 170, 88);
}

.buttons__reset {
  background-color: grey;
}
